{
  "info": {
    "title": "Kaipanla upstream contract: apphis.longhuvip.com",
    "version": "2026-08-20"
  },
  "openapi": "3.1.2",
  "paths": {
    "/w1/api/index.php": {
      "get": {
        "operationId": "kaipanla_apphis_longhuvip_com_w1_api_index_php_get",
        "parameters": [
          {
            "in": "query",
            "name": "Date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Day",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "DeviceID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Index",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "IndexID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "IsBX",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "IsKZZType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "IsZZ",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Is_FS",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PhoneOSNew",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PidType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PlateID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "REnd",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "RStart",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "SonIndexID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "StockID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "TSZB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "TSZB_Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "UserID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "VerSion",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ZSType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "apiv",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "c",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filterType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "index",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "old",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "st",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed upstream response; capability-specific schema is validated by cases"
          }
        },
        "summary": "Kaipanla physical GET operation on apphis.longhuvip.com",
        "x-huajiao-capability-ids": [
          "KPL-106",
          "KPL-107",
          "KPL-110",
          "KPL-111",
          "KPL-113",
          "KPL-17",
          "KPL-24",
          "KPL-30",
          "KPL-33",
          "KPL-42",
          "KPL-46",
          "KPL-48",
          "KPL-54",
          "KPL-55",
          "KPL-56",
          "KPL-57",
          "KPL-58",
          "KPL-64",
          "KPL-65",
          "KPL-66",
          "KPL-67",
          "KPL-68",
          "KPL-7",
          "KPL-74",
          "KPL-77",
          "KPL-83",
          "KPL-84",
          "KPL-85",
          "KPL-86",
          "KPL-87",
          "KPL-88",
          "KPL-89"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://apphis.longhuvip.com"
    }
  ]
}
