{
  "info": {
    "title": "Kaipanla upstream contract: apphwshhq.longhuvip.com",
    "version": "2026-08-20"
  },
  "openapi": "3.1.2",
  "paths": {
    "/w1/api/index.php": {
      "get": {
        "operationId": "kaipanla_apphwshhq_longhuvip_com_w1_api_index_php_get",
        "parameters": [
          {
            "in": "query",
            "name": "DEnd",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "DStart",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "DeviceID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Index",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PhoneOSNew",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PidType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PlateID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "REnd",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "RStart",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "StockID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Time",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "UserID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "VerSion",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "View",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ZDJK_Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ZSType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "apiv",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "c",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "st",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed upstream response; capability-specific schema is validated by cases"
          }
        },
        "summary": "Kaipanla physical GET operation on apphwshhq.longhuvip.com",
        "x-huajiao-capability-ids": [
          "KPL-103",
          "KPL-104",
          "KPL-105",
          "KPL-108",
          "KPL-109",
          "KPL-112",
          "KPL-15",
          "KPL-16",
          "KPL-18",
          "KPL-19",
          "KPL-20",
          "KPL-21",
          "KPL-22",
          "KPL-43",
          "KPL-69",
          "KPL-72",
          "KPL-75",
          "KPL-81",
          "KPL-82",
          "KPL-90",
          "KPL-94"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://apphwshhq.longhuvip.com"
    }
  ]
}
