{
  "info": {
    "title": "Kaipanla upstream contract: apphwhq.longhuvip.com",
    "version": "2026-08-20"
  },
  "openapi": "3.1.2",
  "paths": {
    "/w1/api/index.php": {
      "get": {
        "operationId": "kaipanla_apphwhq_longhuvip_com_w1_api_index_php_get",
        "parameters": [
          {
            "in": "query",
            "name": "Date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "DeviceID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Index",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "IsLB",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "IsZT",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Isst",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PhoneOSNew",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PidType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "PlateID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "StockID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Token",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "UserID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "VerSion",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "a",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "apiv",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "c",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "st",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Observed upstream response; capability-specific schema is validated by cases"
          }
        },
        "summary": "Kaipanla physical GET operation on apphwhq.longhuvip.com",
        "x-huajiao-capability-ids": [
          "KPL-102",
          "KPL-115",
          "KPL-31",
          "KPL-49",
          "KPL-50",
          "KPL-51",
          "KPL-52",
          "KPL-53",
          "KPL-59",
          "KPL-60",
          "KPL-61",
          "KPL-62",
          "KPL-63",
          "KPL-76",
          "KPL-78",
          "KPL-79",
          "KPL-8",
          "KPL-80",
          "KPL-9"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://apphwhq.longhuvip.com"
    }
  ]
}
